{% extends 'base.html' %}
{% block title %}Vista 2 App2{% endblock %}
{% block content %}
<h1>Vista 2 app2</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consectetur, assumenda dolorum quasi magni laboriosam, autem dolorem rerum, adipisci nesciunt delectus qui debitis eos voluptatum totam odit quaerat ex maxime?
    Voluptate dolorum dolor est ullam id odio eius nihil blanditiis facilis? Eius culpa fugiat odit qui aperiam iste cumque saepe! Sint eos asperiores esse exercitationem molestiae sunt ipsum rerum ad?
    Fugit animi aut incidunt aliquam perferendis, perspiciatis in sequi maxime molestias ducimus nisi, at consectetur accusamus atque nam aspernatur quia, excepturi adipisci. Dolor voluptatibus, eos possimus hic voluptas veritatis? Iste!
    Ad laudantium omnis modi sapiente maxime esse veritatis ipsam necessitatibus adipisci nesciunt eos consectetur eaque illum eum, exercitationem dignissimos laboriosam magnam corrupti! Debitis et atque accusantium aliquid voluptatibus vero? Reiciendis?
    Cupiditate sapiente excepturi debitis, illum cum praesentium voluptas ea voluptatibus, similique deleniti quia odit dolore laborum officia dolorum nam. Saepe ipsa alias neque ad quam sequi maxime obcaecati nostrum facilis?
    Non asperiores esse alias quos molestiae quod, inventore incidunt animi! Laboriosam, ratione corporis pariatur officiis esse aperiam et doloremque, repellendus possimus, voluptatem necessitatibus vel. Molestiae dolorem ipsa nemo veritatis asperiores!
    Aperiam sint labore numquam esse animi praesentium natus reiciendis a rem tempora autem libero, hic soluta atque corrupti adipisci officiis totam minus ipsam amet aspernatur. Soluta, tempora? Fuga, porro maiores.
    Consequatur maiores, voluptates ipsum rem dolore maxime. Quibusdam rem beatae minus praesentium eaque quas deserunt reprehenderit perferendis nam itaque magnam cumque quis, ut quia et dolorem deleniti dignissimos soluta natus!
    Animi, iure dolorem voluptates perspiciatis veritatis, dicta, vel libero odio labore vero quibusdam dolores consequatur perferendis ut enim magni ipsum repudiandae inventore! Blanditiis dolorum perferendis harum dolorem aut ratione pariatur?
    Libero provident dolorem voluptate id corrupti eos explicabo cumque placeat, eum debitis, maxime doloremque aliquid? Blanditiis suscipit similique soluta obcaecati cum exercitationem ducimus laboriosam commodi vitae? Quisquam rerum amet ad?
</p>
{% endblock %}