{% extends 'base.html' %}
{% block title %}App1 v1{% endblock %}
{% block content %}
<h1>Vista 2 APP1</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto autem modi magni nisi provident. Eveniet, nobis vero harum quos tempore facere consequuntur fuga sequi consectetur dolore. Recusandae repudiandae nihil suscipit.
    Ut sapiente porro incidunt pariatur facere, vero iste molestiae molestias quod illo praesentium, amet, nesciunt ullam iure consequuntur nisi exercitationem. Omnis vel enim nemo illum delectus eum aperiam molestiae ipsum?
    Ad tempore quas, et dolore minima, reprehenderit autem unde commodi veritatis consectetur magnam atque nulla hic excepturi inventore ut? Delectus dignissimos, voluptate blanditiis nostrum distinctio iste. At repudiandae quisquam sequi.
    Nemo veritatis consequuntur repellat non! Quibusdam, animi ex. Dolorem, repellat? Similique fuga totam quos repellendus voluptates fugit earum quae autem porro error amet cumque distinctio quam atque doloribus, obcaecati quaerat?
    Sed debitis libero fugit. Unde nemo numquam aliquam sed assumenda est sint sequi in? Aut facilis facere maxime, sapiente fuga explicabo, error nam expedita tempore, provident vel? Iste, quo quibusdam.
</p>
{% endblock %}